<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1>RPG Vault</h1>
    <h2>Seja bem vindo, e que a aventura comece!</h2>
    {{{body}}}
  </body>
</html>
